/*
Colors:

buttons_background:rgb(61,9,61);
buttons_hover:rgb(151,23,151);
button_change_one:rgb(228,22,228);
button_change_two:rgb(228,22,228);
buttons_font:#ffffff;

header_color_one:rgb(167, 72, 167);
header_color_two:rgba(209, 98, 209, 0.618);

*/
.display_information_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display_information_button button {
  margin-bottom: 2.5rem;
  width: 12.5rem;
  height: 3.5rem;
  background-color: rgb(61, 9, 61);
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  animation-name: Home_Button;
  animation-duration: 6s;
}
.display_information_button button:hover {
  background-color: rgb(151, 23, 151);
}
.display_information_return_button button {
  margin-top: 1.2rem;
  width: 6.25rem;
  height: 2.5rem;
  background-color: rgb(61, 9, 61);
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  animation-name: Return_Button;
  animation-duration: 4s;
  animation-delay: 1s;
}
.display_information_return_button button:hover {
  background-color: rgb(151, 23, 151);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 25rem;
  font-size: 16px;
  line-height: 1.7;
  padding: 1.8rem;
}

@keyframes Move_H1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform: translateX(-6.25rem);
  }
  25% {
    transform: scale(1);
    transform: translateX(0.6rem);
  }
  50% {
    transform: scale(1.2);
    transform: translate(0);
  }
}
@keyframes Move_H2 {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform: translateX(6.25rem);
  }
  25% {
    transform: scale(1);
    transform: translateX(-0.6rem);
  }
  50% {
    transform: scale(1.2);
    transform: translate(0);
  }
}
@keyframes Move_H3 {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(6.25rem);
  }
  40% {
    transform: scale(1);
    transform: translateY(-0.6rem);
  }
  60% {
    transform: scale(1.2);
    transform: translate(0);
  }
}
@keyframes Home_Button {
  0% {
    opacity: 0;
    background-color: rgb(228, 22, 228);
  }
  100% {
    background-color: rgb(228, 22, 228);
  }
}
@keyframes Return_Button {
  60% {
    background-color: rgb(228, 22, 228);
    transform: scale(1.2);
  }
}
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(167, 72, 167, 0.25), rgba(209, 98, 209, 0.25)), url("../img/404 Page Not Found Image.png");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.display_information_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 45rem;
}

.display_information_error img {
  width: 31.2rem;
  height: 31.2rem;
}
.display_information_about_error h1 {
  font-weight: bolder;
  font-size: x-large;
  margin-top: 0.6rem;
  animation-name: Move_H1;
  animation-duration: 1s;
  color: rgb(41, 41, 41);
}
.display_information_about_error h2 {
  font-weight: normal;
  font-size: x-large;
  margin-left: 1.8rem;
  animation-name: Move_H2;
  animation-duration: 1.5s;
  color: rgb(58, 58, 58);
}
.display_information_about_error h3 {
  font-weight: lighter;
  font-size: x-large;
  margin-left: 3.1rem;
  animation-name: Move_H3;
  animation-duration: 2s;
  color: rgb(83, 83, 83);
}

/*# sourceMappingURL=style.css.map */
