/*
Colors:

buttons_background:rgb(61,9,61);
buttons_hover:rgb(151,23,151);
button_change_one:rgb(228,22,228);
button_change_two:rgb(228,22,228);
buttons_font:#ffffff;

header_color_one:rgb(167, 72, 167);
header_color_two:rgba(209, 98, 209, 0.618);

*/

$buttons_background:rgb(61,9,61);
$buttons_hover:rgb(151,23,151);
$button_change_one:rgb(228,22,228);
$button_change_two:rgb(228,22,228);
$buttons_font:#ffffff;

$header_color_one:rgb(167, 72, 167);
$header_color_two:rgba(209, 98, 209, 0.618);