.display_information{

    &_button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &_button button{
        margin-bottom: 2.5rem;
        width: 12.5rem;
        height: 3.5rem;
        background-color: $buttons_background;
        color: $buttons_font;
        border:none;
        border-radius:0.3rem;
        cursor: pointer;
        font-weight: bold;
        animation-name: Home_Button;
        animation-duration: 6s;
    }
    &_button button:hover{
        background-color:$buttons_hover;
    }
    &_return_button button{
        margin-top: 1.2rem;
        width: 6.25rem;
        height: 2.5rem;
        background-color: $buttons_background;
        color: $buttons_font;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
        font-weight: bold;
        animation-name: Return_Button;
        animation-duration: 4s;
        animation-delay: 1s;
    }
    &_return_button button:hover{
        background-color: $buttons_hover;
    }

}