@keyframes Move_H1 {
    0%{
        opacity: 0; 
        transform:scale(0.5); 
        transform: translateX(-6.25rem);
    }
    25%{
        transform:scale(1); 
        transform: translateX(0.6rem);
    }
    50%{
        transform:scale(1.2); 
        transform: translate(0);
    }
}

@keyframes Move_H2 {
    0%{
        opacity: 0; 
        transform:scale(0.5); 
        transform: translateX(6.25rem);
    }
    25%{
        transform:scale(1);
        transform: translateX(-0.6rem);
    }
    50%{
        transform:scale(1.2); 
        transform: translate(0);
    }

}

@keyframes Move_H3 {
    0%{
        opacity: 0; 
        transform:scale(0.5); 
        transform: translateY(6.25rem);  
    }
    40%{
        transform:scale(1); 
        transform: translateY(-0.6rem);
    }
    60%{
        transform:scale(1.2); 
         transform: translate(0);
    }
}
@keyframes Home_Button {
    0%{
        opacity: 0; 
        background-color: $button_change_one;      
    }
    100%{
        background-color: $button_change_two;     
    }
}

@keyframes Return_Button {
    60%{
        background-color: $button_change_one;
        transform:scale(1.2);      
    }

}
