<!doctype html>
<html lang="en">
<head>

</head>

<body>

   <!--
       This is the remove book page which handle
       the removal of book throw and HTML form.
    -->

    {% extends "base.html" %}
    {% block content %}
 
    <div>

        <div class="title">
            <h1>Remove Book Form</h1>
        </div>
        
        <div class="management_menu">
        
            <div class="remove_book_form">

                <form method="post" action="{% url 'remove_book_action' %}">
                {%csrf_token%}  

                <label id="label_isbn" for="ISBN">ISBN:</label>
                <input type="text" name="isbn" id="isbn" placeholder="E.g. 232354678321" required>
                <div class="submit_button">
                <button type="submit" name="submit" id="submit">Submit</button>    
                </div>
                {{form}} 
                </form>
           
            </div>
               
        </div>
 
    {% endblock %}
    </div>  

</body>

</html>